body {
  font-family: "Karla", sans-serif;
}

h1,
h2 {
  font-family: "Markazi";
}

h1 {
  font-size: 64pt;
  font-weight: medium;
  margin: 0;
}

h2 {
  font-size: 40pt;
  font-weight: medium;
  margin: 0;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 18pt;
  margin: 0;
}

h4 {
  font-family: "Karla", sans-serif;
  font-size: 16pt;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.3fr 0.85fr 0.85fr;
  grid-template-areas:
    "reservation"
    "specials"
    "ratings"
    "about";
  grid-auto-flow: column;
}

/* Media queries--------------------------------------------------------------------------*/

@media (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 2fr 0.5fr 0.5fr;
    grid-template-areas:
      "reservation"
      "specials"
      "ratings"
      "about";
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.9fr 0.9fr;
    grid-template-areas:
      "reservation"
      "specials"
      "ratings"
      "about";
    grid-auto-flow: row;
  }
}

.reservation {
  grid-area: reservation;
  background-color: #495e57;
  color: #edefee;
}

.specials {
  grid-area: specials;
  color: #333333;
}

.ratings {
  grid-area: ratings;
  background-color: #fbdabb;
  color: #333333;
}

.about {
  grid-area: about;
  color: #333333;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  justify-content: space-between;
  padding-right: 3.5em;
  font-weight: bold;
  font-size: 20px;
}

nav ul li:first-child {
  padding-left: 2em;
}

nav ul li:last-child {
  padding-right: 0;
}

a {
  text-decoration: none !important;
  color: #495e57 !important;
}
