body {
  font-family: "Karla", sans-serif;
}

h1,
h2 {
  font-family: "Markazi", serif;
}

h1 {
  font-size: medium 64pt;
}

h2 {
  font-size: 40pt;
}

h3 {
  font-size: medium 18pt;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 100px 400px 600px 400px 400px 300px; */
  grid-template-rows: 1fr 5fr 6fr 6fr 6fr 4fr;
  grid-template-areas:
    "header-nav"
    "reservation"
    "specials"
    "ratings"
    "about"
    "footer";
  grid-auto-flow: column;
  /* justify-items: center; */
  /* align-items: center; */
  /* margin: 0 200px; */
}
@media (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-auto-flow: row;
  }
}

.header-nav {
  grid-area: header-nav;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.reservation {
  grid-area: reservation;
  background-color: #495e57;
  color: #edefee;
}

.specials {
  grid-area: specials;
  color: #333333;
}

.ratings {
  grid-area: ratings;
  background-color: #fbdabb;
  color: #333333;
}

.about {
  grid-area: about;
  color: #333333;
}

.footer {
  grid-area: footer;
  background-color: #333333;
  color: #edefee;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding-right: 2em;
  font-weight: 600;
}

a {
  text-decoration: none !important;
  color: #495e57;
}
