.section {
  background-color: #333333;
  color: #edefee;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 3em;
}

.footer_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* This will align the items vertically */
  margin: 0em 0em;
}

.img {
  object-fit: cover;
  width: 150px;
  height: 250px;
  object-position: 40% 100%;
}

.links {
  list-style-type: none;
}

footer ul li a {
  color: #ffffff !important;
}
