.section {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 90px;
}
.button {
  font-family: "Karla", sans-serif;
  font-size: 18pt;
  background-color: #f4ce14;
  border-radius: 8px;
  border-style: none;
  padding: 0em 2em;
  cursor: pointer;
  white-space: nowrap;
  height: 70px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* This will align the items vertically */
  margin: 0em 0em;
}

.cardflex {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* This will align the items vertically */
  gap: 2em;
}

@media (max-width: 700px) {
  .section {
    margin-right: 0%;
    margin-left: 0%;
  }
}
